<link rel="stylesheet" href="/style.css">
<h1>Template</h1>
<p>The name passed here was: <%= name %></p>

<ul>
  <% for (var i = 0; i < 10; i++) { %>
    <li><%= i * i %></li>
  <% } %>
</ul>

<div>
  <%= 99 / 56 %>
<div>
